<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flosfiore">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlosFiore">
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.signup.SignupActivity"/>
        <activity android:name=".ui.main.community.detail.CommunityDetailActivity"/>
        <activity android:name=".ui.main.community.CommunityWriteActivity"/>
        <activity android:name=".ui.flower.FlowerDetailActivity"/>
        <activity android:name=".ui.flower.FlowerListActivity"/>
    </application>

</manifest>